.others {
  padding: 0 3rem 0 3rem;
  /* display: flex; */
  /* height: 90vh; */
  height: 100%;
  margin-top: 6rem;
}
.awesome {
  text-align: center;
}

.others_data {
  margin-top: 3rem;
  font-size: 14px !important;
  margin-left: 1rem;
}

.others__subtitle__ul {
  /* margin-left: 1rem; */
}

.others__subtitle__ul > li {
  padding-bottom: 18px;
}
