.services{
    padding: 0 3rem 0 3rem;
    /* display: flex; */
    /* height: 90vh; */
    height: 100%;
    /* margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem; */
    margin-top: 6rem;
}

.awesome{
    text-align: center;
}

.cards{
    margin-top: 3rem;
    font-size: 14px !important;
}

.about__subtitle__ul {
    /* margin-left: 1rem; */
  }
  .about__subtitle__link {
    /* color: blue; */
    color: #242D49;
    text-decoration: underline;
    margin-left: 0.35rem;
  }
  
  .about__service{
    margin-left: 1rem;
  }
  
  .about__ul{
    list-style-type: initial;
  }
  
  .about__head{
    text-align: center;
  }