.services{
    padding: 0 3rem 0 3rem;
    /* display: flex; */
    height: 90vh;
    margin-bottom: 8rem;
    /* margin-top: 9rem; */
    margin-top: 4rem;
    margin-bottom: 13rem;
}

.awesome{
    text-align: center;
}

.cards{
    margin-top: 3rem;
}

.about__subtitle__ul {
    margin-left: 1rem;
  }
  .about__subtitle__link {
    color: blue;
    text-decoration: underline;
    margin-left: 0.35rem;
  }
  
  .about__service{
    margin-left: 1rem;
  }
  
  .about__ul{
    list-style-type: initial;
  }
  
  .about__head{
    text-align: center;
  }